
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	color: white;
	font: 21px/1.5 'Helvetica Neue', helvetica, sans-serif;
}

a {
	color: white;
	text-decoration: none;
}

@media (max-width: 414px) {
	html, body {
		font-size: 4vw;
	}
}

.container {
	min-width: 320px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.doc {
	position: absolute;
	z-index: -1;
}

.pan-view {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #834D9B;
}

.touch-hint {
	font-weight: 400;
	opacity: 0.8;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	z-index: 2;
	pointer-events: none;
}

.tracker {
	$width: 88px;

	width: $width;
	height: $width;
	position: absolute;
	left: -$width / 2;
	top: -$width / 2;
	border: 1px solid rgba(white, 0.9);
	border-radius: $width / 2;
	background-color: rgba(white, 0.1);
	transform-origin: center center;
	pointer-events: none;
}

.logger {
	position: absolute;
	z-index: 2;
	left: 32px;
	top: 32px;
	pointer-events: none;

	li {
		width: 200px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		font-weight: 300;
		font-size: 0.72rem;
		color: rgba(white, 0.9);
	}
}

.footer {
	width: 100%;
	height: 88px;
	padding: 0 24px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	opacity: 0.8;

	.button {
		width: 44px;
		height: 44px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.checkbox {
		opacity: 0;

		&:checked {
			& ~ .eye {
				display: flex;
			}

			& ~ .eye-off {
				display: none;
			}
		}
	}

	.eye {
		display: none;
	}

	.eye-off {
		display: flex;
	}

	.logger-switch {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
	}

	.author {
		display: none;
	}
}

.footer-left {
	position: relative;
}

.footer-right {
	display: flex;
	justify-content: center;
	align-items: center;
}
