
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	color: #454545;
	font: 18px/1.5 'Helvetica Neue', helvetica, sans-serif;
}

li {
	list-style: none;
}

.pan-view {
	height: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: #1abc9c;
	color: #fff;
}

.pan {
	position: absolute;
	border-radius: 200px;
	background-color: rgba(white, 0.2);
}

.logo {
	width: 128px;
	height: 128px;
	pointer-events: none;
}

.logger {
	position: absolute;
	left: 20px;
	top: 20px;
	padding: 20px;
	background-color: rgba(white, 0.2);
	pointer-events: none;

	li {
		width: 100px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		font-weight: 300;
		font-size: 12px;
	}
}

.doc {
	width: 80%;
	max-width: 800px;
	margin: auto;
	padding: 36px 0;

	h1 {
		margin: 1.2em 0;
		font-weight: 500;
	}

	h2 {
		margin: 1.125em 0;
		font-weight: 400;
	}

	p {
		color: #888;
		font-weight: 300;
	}
}
