
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	color: white;
	font: 21px/1.5 'Helvetica Neue', helvetica, sans-serif;
}

a {
	color: white;
	text-decoration: none;
}

@media (max-width: 414px) {
	html, body {
		font-size: 4vw;
	}
}

.container {
	min-width: 320px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow-x: hidden;
}

.pan-view {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: #1abc9c;
	color: #fff;
}

.tracker {
	$width: 88px;

	width: $width;
	height: $width;
	position: absolute;
	left: -$width / 2;
	top: -$width / 2;
	border: 1px solid rgba(white, 0.9);
	border-radius: $width / 2;
	background-color: rgba(white, 0.1);
	transform-origin: center center;
}

.logger {

	display: none;

	position: absolute;
	z-index: 2;
	left: 20px;
	top: 20px;
	padding: 20px;
	background-color: rgba(white, 0.2);
	pointer-events: none;

	li {
		width: 200px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		font-weight: 300;
		font-size: 0.72rem;
		color: rgba(white, 0.72);
	}
}

.touch-hint {
	font-weight: 400;
	opacity: 0.8;
	pointer-events: none;
}

.footer {
	width: 100%;
	height: 88px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.8;

	a {
		width: 44px;
		height: 44px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.author {
		display: none;
	}
}
